body {
  margin: 0;
  background-color: #f0f0f0;
  color: #000;
  font-family: sans-serif;
}

a {
  color: #08f;
}

#float_container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

#progress_bar {
  width: 100%;
  height: 10px;
}

#progress_bar__percent {
  width: 1%;
  height: 10px;
  background-color: #08f;
}

#three_container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.panel {
  width: 300px;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
}

.panel__header {
  padding: 0.5em 0 0.5em 0.5em;
  display: flex;
}

.panel__header input {
  border: none;
  background-color: #ddd;
  color: #333;
  flex: 1;
  margin-left: 1em;
}

button.btn {
  background: #aaa;
  border: 1px solid #999;
}

button.btn:active {
  background: #333;
  border-color: #fff;
}

#cursor_position {
  font-family: monospace;
  font-weight: bold;
  background: #eee
}

.lil-gui {
  --width: 100%;
  --title-background-color: #ddd;
  --title-text-color: #333;
  --background-color: #fefefe;
  --text-color: #333;
  --widget-color: #ddd;
  --hover-color: #aaa;
  --focus-color: #aaa;
  --text-color: #333;
  --number-color: #333;
  --string-color: #000;
}